<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            แปลงขิง the origin
        </a>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/sensors/list/accelerometer">Accelerometer</a></li>
        <li><a href="/sensors/list/temperature">Temperature</a></li>
        <li><a href="/sensors/list/humidity">Humidity</a></li>
        <li><a href="/sensors/list/pressure">Pressure</a></li>
        <li><a href="/sensors/list/gyrometer">Gyroscope</a></li>
        <li><a href="/sensors/list/magnetometer">Magnetometer</a></li>
      </ul>
    </div>
  </div>
</nav>
