<meta charset="UTF-8">
<title><%= title %> - Smart Park</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/jquery-ui.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/datatables.min.css"/>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/datatables.min.js"></script>

<style>
  body{
    padding: 50px;
  }
</style>
